.navbar{
	padding: 1vh;
    margin: 5px;
	border-radius: 5px;
    width: 98%;
    height: 50px;
	background: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-wrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.logo{
    font-weight: bold;
    font-size: 35px;
    color: darkblue;
    cursor: pointer;
}

.nav-right{
    display: flex;
    align-items: center;
}


.nav-icon-container{
    position: relative;
    margin-right: 15px;
    cursor: pointer;
}

.nav-avatar{
    cursor: pointer;
}