.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.logo-container img {
	height: 8vh;
	margin-bottom: 5vh;
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #fff;
	padding: 5vh;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
	margin: 0 0 2vh;
	font-size: 3vh;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

label {
	font-size: 2.2vh;
	font-weight: 600;
	margin: 2vh 0 0.5vh;
	color: #333;
}

input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 1.5vh 2vh;
	margin: 1vh 0 2vh;
	/* border-radius: 3px; */
  outline: none;
	border: none;
  border-bottom: 1px solid gray;
	background: #fffafa;
	font-size: 2.2vh;
}

input[type="submit"] {
	width: 100%;
	padding: 1.5vh 2vh;
	margin: 2vh 0 0;
	border-radius: 3px;
	border: none;
	background: #3f0eee;
	color: #fff;
	font-size: 2.2vh;
	font-weight: 600;
	cursor: pointer;
}

.signup-link,
.help-link {
	font-size: 2.2vh;
	margin: 2vh 0 0;
}

.signup-link a,
.help-link a {
	color: #e50914;
	text-decoration: none;
}
